.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 0.75rem 2.5rem;
  border-radius: 999px;
  border: none;
  width: 100%;
  font-size: 1rem;
}

.icon {
  position: absolute;
  left: 1rem;
  pointer-events: none;
}
