.container {
  margin-top: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  color: black;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
