.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 50;
  background-color: #181818;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 0.75rem 0;
  gap: 1rem;
}

.content > * {
  width: 100%;
}

.trackInfo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}

.trackDetails {
  max-width: 100%;
}

.trackDetails > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cover {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  object-fit: cover;
  display: none;
}

.songTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.artist {
  font-size: 0.8125rem;
  color: #a3a3a3;
  margin: 0;
}

.playingFrom {
  font-size: 0.75rem;
  color: #737373;
  text-transform: uppercase;
  margin-top: 0.25rem;
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.playIcon {
  background-color: #947d97;
  color: #000000;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.125rem;
}

.playIcon:hover {
  background-color: var(--clr-purple-light);
}

.icon {
  position: relative;
  background: none;
  border: none;
  color: #d4d4d4;
  font-size: 1.25rem;
  cursor: pointer;
}

.icon:hover {
  color: #ffffff;
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.time {
  font-size: 0.7rem;
  color: #a3a3a3;
}

.volumeContainer {
  display: none;
}

.volumeController {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.volumeBar {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -3rem) rotate(-90deg);
  transform-origin: center;
  width: 8rem;
  padding: 0.6125rem;
  background: #222;
  border-radius: 0.3725rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.volumeController:hover .volumeBar,
.volumeController:focus-within .volumeBar {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 36rem) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .trackInfo {
    width: 25%;
    min-width: 8rem;
    text-align: unset;
  }

  .volumeController {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    min-width: 8rem;
  }
}

@media screen and (min-width: 48rem) {
  .volumeContainer {
    display: unset;
    width: 25%;
    min-width: 8rem;
  }
}

@media screen and (min-width: 60rem) {
  .cover,
  .playingFrom {
    display: unset;
  }

  .trackDetails {
    width: calc(100% - 3.75rem);
  }
}
