.card {
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  transition: transform 150ms ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.imageContainer {
  display: block;
  width: 100%;
}

.image {
  width: '100%';
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.title {
  font-size: 1.125rem;
  color: var(--clr-lavender);
  padding-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 0.9375rem;
  color: var(--clr-purple-light);
  margin-top: 0.25rem;
}

.imageContainer {
  position: relative;
}

.tooltipContainer {
  position: absolute;
}

.tooltipContainer {
  left: 0.875rem;
  bottom: 0.125rem;
}

.playIcon {
  background-color: var(--clr-accent);
  color: var(--clr-black);
  border-radius: 50%;
  padding: 0.5rem;
  padding-left: 0.75rem;
  font-size: 3rem;
}

.playIcon:hover {
  background-color: var(--clr-accent-hover);
}
