.button {
  font-family: var(--font-heading);
  font-size: 1.25rem;
  background-color: var(--clr-accent);
  color: var(--clr-purple-dark);
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: var(--clr-accent-hover);
}
