:root {
  --font-body: 'Poppins', sans-serif;
  --font-heading: 'Anton', sans-serif;

  --clr-purple-dark: #55215e;
  --clr-purple-light: #daccdd;
  --clr-pink: #ff93b9;
  --clr-lavender: #efe4f1;
  --clr-accent: #e0fe40;
}
