:root {
  --font-body: 'Poppins', sans-serif;
  --font-heading: 'Anton', sans-serif;

  --clr-purple-dark: #55215e;
  --clr-purple-light: #daccdd;
  --clr-purple: #9f80a6;
  --clr-pink: #ff93b9;
  --clr-lavender: #efe4f1;
  --clr-accent: #e0fe40;
  --clr-accent-hover: #d7f142;
}

/* CSS Reset */
html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Utilities */

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Global styles */
body {
  background-color: var(--clr-purple-dark);
  font-family: var(--font-body);
}
