.card {
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  transition: transform 150ms ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.title {
  font-size: 1.125rem;
  color: var(--clr-lavender);
  padding-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .title {
  text-decoration: underline;
}

.subtitle {
  font-size: 0.9375rem;
  color: var(--clr-purple-light);
  margin-top: 0.25rem;
}
